{% comment %}
  Renders product variant-picker
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', block: block, product: product %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}data-update-url="false"{% endif %}
      data-no-scroll
      {% if block.settings.enable_swatch_cross %}data-swatch-cross{% endif %}
      {% if block.settings.enable_swatch_unavailable_click %}data-swatch-oos-click{% endif %}
      {{ block.shopify_attributes }}
    >
      {%- assign color_count = 0 -%}
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign is_color = false
          if block.settings.enable_color_swatches
            assign swatch_file_extension = 'png'
            assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if swatch_trigger contains downcased_option
              assign is_color = true
            elsif swatch_trigger == 'color' and downcased_option contains 'colour'
              assign is_color = true
            endif
          endif

          assign is_size = false
          if block.settings.size_chart != blank
            assign size_trigger = 'products.product.size_chart_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if size_trigger contains downcased_option
              assign is_size = true
            endif
          endif

          assign option_idx = forloop.index
          assign option_idx0 = forloop.index0
        -%}
        <fieldset class="js product-form__input variant-input-wrapper"
          data-option-index="option{{ option_idx }}"
          data-option-slug="{{ option.name | handleize }}"
        >
          {%- if block.settings.show_variant_labels -%}
            <legend class="form__label">
              {{ option.name }}
              {%- if is_color -%}
                {%- assign color_count = color_count | plus: 1 -%}
                <span class="form__label-info" id="color-{{ section.id }}{% if color_count > 1 %}-{{ color_count }}{% endif %}">&ndash;&nbsp;{{ option.selected_value }}</span>
              {%- endif -%}
            </legend>
          {%- endif -%}
          {%- for value in option.values -%}
            <input
              type="radio"
              id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
              name="{{ option.name }}"
              value="{{ value | escape }}"
              form="{{ product_form_id }}"
              {%- if option.selected_value == value %}checked="checked"{% endif -%}
              data-option-value="{{ value | escape }}"
            />
            {%- if is_color -%}
              {%- liquid
                assign color_variant_image = ''
                assign color_variant_image_2x = ''
                assign color_swatch_fallback = value | split: ' ' | last | handle
                if block.settings.swatches_source == 'variant'
                  for variant in product.variants
                    assign variant_value = variant.options[option_idx0] | handle
                    assign h_value = value | handle
                    if variant_value == h_value and variant.image
                      assign color_variant_image = variant.image | image_url: width: 42
                      assign color_variant_image_2x = variant.image | image_url: width: 84
                      break
                    endif
                  endfor
                else
                  assign file_name_uniq = product.id | append: '_' | append: value | handle | append: '.' | append: swatch_file_extension
                  assign file_name_custom = blank
                  assign file_name_alt = value | handle | append: '.' | append: swatch_file_extension
                  assign value_downcase = value | downcase
                  assign swatch_config = settings.swatch_config | newline_to_br | split: '<br />'
                  for swatch in swatch_config
                    assign swatch_parts = swatch | strip | split: ':'
                    assign swatch_name = swatch_parts.first | downcase | strip
                    if swatch_name == value_downcase
                      assign swatch_value = swatch_parts.last | strip
                      if swatch_value contains '#'
                        assign color_swatch_fallback = swatch_value
                        assign file_name_alt = blank
                      else
                        assign file_name_custom = swatch_value
                      endif
                      break
                    endif
                  endfor
                endif
              -%}
              <label
                for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                class="color__swatch color__swatch--{{ block.settings.swatch_type }}{% if block.settings.swatches_source == 'variant' %} color__swatch--variant{% endif %}"
                style="--swatch-background-color: {{ color_swatch_fallback }};
                  {%- if color_variant_image != '' -%}
                    --swatch-background-image: url({{ color_variant_image }});
                    --swatch-background-image-2x: url({{ color_variant_image_2x }});
                  {%- else -%}
                    {%- liquid
                      assign file_name_final = blank
                      if images[file_name_uniq] != blank
                        assign file_name_final = file_name_uniq
                      elsif file_name_custom != blank and images[file_name_custom] != blank 
                        assign file_name_final = file_name_custom
                      elsif images[file_name_alt] != blank
                        assign file_name_final = file_name_alt
                      endif
                      assign swatch_image = blank
                      if images[file_name_final] != blank
                        assign swatch_image = images[file_name_final] | image_url: width: 50
                      elsif file_name_final contains '//cdn.shopify.com/'
                        assign swatch_image = file_name_final
                      endif
                    -%}
                    {%- if swatch_image != blank -%}--swatch-background-image: url({{ swatch_image }});{%- endif -%}
                  {%- endif -%}"
                title="{{ value | escape }}"
              >
                <span class="color__swatch-dot"></span>
              </label>
            {%- else -%}
              <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                {{ value }}
              </label>
            {%- endif -%}
          {%- endfor -%}
          {%- if is_size -%}
            <div class="form__popup" id="size-{{ section.id }}">
              <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="link link-with-icon" type="button" aria-haspopup="dialog">
                  {% render 'icon', icon: 'ruler' %}
                  <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                </button>
              </modal-opener>
              <a href="{{ block.settings.size_chart.url }}" class="link link-with-icon no-js">
                {% render 'icon', icon: 'ruler' %}
                <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
              </a>
            </div>
          {%- endif -%}
        </fieldset>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}data-update-url="false"{% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign is_size = false
          if block.settings.size_chart != blank
            assign size_trigger = 'products.product.size_chart_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if size_trigger contains downcased_option
              assign is_size = true
            endif
          endif

          assign option_idx = forloop.index
        -%}
        <div class="product-form__input product-form__input--dropdown variant-input-wrapper"
          data-option-index="option{{ option_idx }}"
          data-option-slug="{{ option.name | handleize }}"
        >
          {%- if block.settings.show_variant_labels -%}
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
          {%- endif -%}
          <div class="select">
            <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {%- for value in option.values -%}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon', icon: 'caret' %}
          </div>
          {%- if is_size -%}
            <div class="form__popup" id="size-{{ section.id }}">
              <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="link link-with-icon" type="button" aria-haspopup="dialog">
                  {% render 'icon', icon: 'ruler' %}
                  <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                </button>
              </modal-opener>
              <a href="{{ block.settings.size_chart.url }}" class="link link-with-icon no-js">
                {% render 'icon', icon: 'ruler' %}
                <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript>
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
    <div class="select">
      <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
            {% if variant.available == false %}disabled="disabled"{% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            - {% if settings.currency_code_enabled %}{{ variant.price | money_with_currency | strip_html }}{% else %}{{ variant.price | money | strip_html }}{% endif %}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon', icon: 'caret' %}
    </div>
  </div>
</noscript>
